In [154]:
import numpy as np
import pandas as pd

In [155]:
data=pd.read_csv(r"C:\Users\Srihari\Desktop\AI ML\Assignments\Data Preparation and Visualisation\scrapped_data_large.csv")
data.nunique()

name                         1103
url                          1122
born                         1058
teams                         217
first_class.average           552
first_class.balls_faced       549
first_class.boundaries        185
first_class.catches_taken      73
first_class.fifties            27
first_class.highest           288
first_class.hundreds           21
first_class.inns              100
first_class.matches            76
first_class.not_outs           27
first_class.runs              429
first_class.sixes              44
first_class.strike_rate       772
first_class.stumps             18
dtype: int64

In [156]:
data

,name,url,born,teams,first_class.average,first_class.balls_faced,first_class.boundaries,first_class.catches_taken,first_class.fifties,first_class.highest,first_class.hundreds,first_class.inns,first_class.matches,first_class.not_outs,first_class.runs,first_class.sixes,first_class.strike_rate,first_class.stumps
0,Baba Indrajith,http://www.espncricinfo.com/ci/content/player/...,"July 8, 1994, Madras (now Chennai), Tamil Nadu","India A,",50.81,6564,363,64,17,200,9,74,50,9,3303,18,50.31,1
1,Samarth Vyas,http://www.espncricinfo.com/ci/content/player/...,"November 28, 1995, Rajkot, Saurashtra","Saurashtra,",18.69,435,25,3,2,54*,0,14,8,1,243,8,55.86,0
2,Bodapati Sumanth,http://www.espncricinfo.com/ci/content/player/...,"May 10, 1988, Visakhapatnam, Andhra Pradesh","Deccan Chargers,",35.55,7452,387,36,17,150*,6,99,63,10,3164,16,42.45,0
3,Syed Sagar,http://www.espncricinfo.com/ci/content/player/...,"August 12, 1990, Srinagar",Jammu and Kashmir,16.40,54,7,0,1,74,0,5,5,0,82,5,151.85,0
4,Syed Moinuddin,http://www.espncricinfo.com/ci/content/player/...,"December 2, 1991, Cuttack, Orissa",Odisha,2.00,6,0,0,0,2,0,1,2,0,2,0,33.33,0
5,Syed Mujibur Rahaman,http://www.espncricinfo.com/ci/content/player/...,"January 1, 1974, Thoubal, Manipur",Manipur,14.00,145,8,0,0,22,0,3,2,0,42,0,28.96,0
6,Jamaluddin Syed Mohammad,http://www.espncricinfo.com/ci/content/player/...,"June 3, 1983, Madras (now Chennai), Tamil Nadu","Assam,",27.66,3629,193,30,9,121,2,64,41,7,1577,9,43.45,0
7,Dasari Swaroop Kumar,http://www.espncricinfo.com/ci/content/player/...,"May 7, 1986, Vijayawada, Andhra Pradesh","Andhra,",18.50,184,8,3,0,30*,0,11,14,3,148,3,80.43,0
8,Swarajeet Das,http://www.espncricinfo.com/ci/content/player/...,"March 23, 1995, Shillong, Meghalaya",Meghalaya,4.50,90,3,1,0,9,0,4,2,0,18,0,20.00,0
9,Swapnil Singh,http://www.espncricinfo.com/ci/content/player/...,"January 22, 1991, Rae Bareilly, Uttar Pradesh","Baroda,",27.29,4061,224,36,10,164,2,80,53,9,1938,34,47.72,0
10,Swapnil More,http://www.espncricinfo.com/ci/content/player/...,"June 14, 1990, Dhula, Maharashtra",Services,7.00,14,0,0,0,7,0,1,1,0,7,0,50.00,0
11,Narain Swamy,http://www.espncricinfo.com/ci/content/player/...,"May 23, 1924, Calicut (now Kozhikhode), Kerala","India,",-,-,-,0,-,-,-,-,1,-,-,-,-,0
12,Soumya Swain,http://www.espncricinfo.com/ci/content/player/...,"April 3, 1987, Khurda",Services,33.63,2764,151,14,8,130,2,40,25,4,1211,2,43.81,0
13,Pawan Suyal,http://www.espncricinfo.com/ci/content/player/...,"October 15, 1989, Paudi, Uttaranchal","Delhi,",3.84,211,10,6,0,11,0,31,27,12,73,1,34.59,0
14,Tapan Sutradhar,http://www.espncricinfo.com/ci/content/player/...,date unknown,"Tripura,",12.50,34,10,1,0,28,0,4,4,0,50,0,147.05,0
15,Suryaprakash Suwalka,http://www.espncricinfo.com/ci/content/player/...,"December 6, 1992, Bhilwara, Rajasthan",Rajasthan,23.00,184,26,3,1,74,0,6,3,0,138,0,75.00,0
16,Ashish Suryawanshi,http://www.espncricinfo.com/ci/content/player/...,"September 17, 1990, Latur, Maharashtra",Maharashtra,46.00,91,4,0,0,46,0,1,1,0,46,1,50.54,0
17,Laxmesha Suryaprakash,http://www.espncricinfo.com/ci/content/player/...,"September 27, 1989, Madras (now Chennai), Tami...","Lyca Kovai Kings,",10.80,130,9,2,0,15,0,5,3,0,54,0,41.53,0
18,Atul Singh Surwar,http://www.espncricinfo.com/ci/content/player/...,date unknown,Jharkhand Under-19s,29.66,104,7,3,1,58*,0,4,4,1,89,0,85.57,0
19,Sajin Sureshnath,http://www.espncricinfo.com/ci/content/player/...,"September 6, 1987",Maharashtra Cricket Association XI,15.75,172,9,2,0,25,0,8,5,4,63,1,36.62,0
20,Chinnaswamy Suresh,http://www.espncricinfo.com/ci/content/player/...,"May 10, 1983, Chengalpet",Tamil Nadu,9.00,408,14,11,0,32*,0,16,17,5,99,1,24.26,0
21,Nikhilesh Surendran,http://www.espncricinfo.com/ci/content/player/...,"October 24, 1992, Secunderabad, Andhra Pradesh",Kerala,25.42,1383,100,40,4,123,1,29,19,1,712,7,51.48,5
22,Sunny Kashyap,http://www.espncricinfo.com/ci/content/player/...,"December 12, 1998",Uttarakhand,4.00,7,0,0,0,3,0,2,5,1,4,0,57.14,0
23,Sunny Rana,http://www.espncricinfo.com/ci/content/player/...,"December 25, 1987, Dehradun",Uttarakhand,7.80,84,4,3,0,17*,0,7,9,2,39,2,46.42,0
24,Sunny Kumar Singh,http://www.espncricinfo.com/ci/content/player/...,"June 6, 1989, Koderma","Dindigul Dragons,",1.50,8,0,1,0,3,0,2,4,0,3,0,37.50,0
25,Sunil Singh,http://www.espncricinfo.com/ci/content/player/...,"July 31, 1984, Fatehpur, Uttar Pradesh",Services,-,-,-,0,-,-,-,-,2,-,-,-,-,0
26,Monica Sumra,http://www.espncricinfo.com/ci/content/player/...,"October 14, 1980, Vidharba","Andhra Women,",10.16,378,6,0,0,29,0,6,3,0,61,0,16.13,0
27,Sumit Singh,http://www.espncricinfo.com/ci/content/player/...,"September 10, 1987, Delhi",Services,13.66,400,26,1,0,35,0,12,7,0,164,0,41.00,0
28,Sumit Sharma,http://www.espncricinfo.com/ci/content/player/...,"December 24, 1978, Gurgaon, Haryana",Haryana,39.62,389,25,2,3,86,0,9,9,1,317,1,81.49,0
29,Sumit Kumar,http://www.espncricinfo.com/ci/content/player/...,date unknown,Haryana,35.20,122,20,3,1,63,0,6,7,1,176,6,144.26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,Ishank Jaggi,http://www.espncricinfo.com/ci/content/player/...,"January 27, 1989, Bacheli","Deccan Chargers,",42.98,10847,691,63,21,201*,18,139,84,13,5416,38,49.93,0
1093,Jagadish Patel,http://www.espncricinfo.com/ci/content/player/...,date unknown,Gujarat President's XI,-,1,0,0,0,1*,0,1,1,1,1,0,100.00,0
1094,Narayan Jagadeesan,http://www.espncricinfo.com/ci/content/player/...,"December 24, 1995, Coimbatore, Tamil Nadu","Chennai Super Kings,",41.85,1501,85,45,3,131*,3,24,17,4,837,12,55.76,3
1095,Wasim Jaffer,http://www.espncricinfo.com/ci/content/player/...,"February 16, 1978, Bombay (now Mumbai), Mahara...","India,",34.10,4045,272,27,11,212,5,58,31,1,1944,3,48.05,0
1096,Jafar Jamal,http://www.espncricinfo.com/ci/content/player/...,"March 20, 1990, Kunnamkulam, Thrissur, Kerala",Kerala,0.00,2,0,1,0,0,0,2,2,0,0,0,0.00,0
1097,Vedant Naik,http://www.espncricinfo.com/ci/content/player/...,"September 4, 1996","Goa,",27.57,413,37,0,0,41,0,8,4,1,193,0,46.73,0
1098,Sulakshana Naik,http://www.espncricinfo.com/ci/content/player/...,"November 10, 1978, Bombay (now Mumbai), Mahara...","Asia Women XI,",20.66,136,8,1,0,25,0,3,2,0,62,0,45.58,2
1099,Prashant Naik,http://www.espncricinfo.com/ci/content/player/...,"September 2, 1986, Pune, Maharashtra","Delhi Daredevils,",36.29,1350,69,6,4,118,1,20,14,3,617,11,45.70,0
1100,Nikhil Naik,http://www.espncricinfo.com/ci/content/player/...,"November 9, 1994, Savantwadi, Maharashtra","Kings XI Punjab,",1.50,23,0,2,0,3,0,2,1,0,3,0,13.04,0
1101,AP Naik,http://www.espncricinfo.com/ci/content/player/...,"November 22, 1979, Margao, Goa",Goa Under-22s,1.16,95,0,1,0,5,0,12,7,6,7,0,7.36,0
1102,Sravanthi Naidu,http://www.espncricinfo.com/ci/content/player/...,"August 23, 1986, Secunderabad, Andhra Pradesh",India Women,9.00,40,1,0,0,9,0,1,1,0,9,0,22.50,0
1103,Pagadala Naidu,http://www.espncricinfo.com/ci/content/player/...,"October 9, 1990, Hyderabad","Hyderabad (India),",10.00,413,15,3,1,50,0,17,15,4,130,1,31.47,0
1104,Doddapaneni Rushi Raj,http://www.espncricinfo.com/ci/content/player/...,"April 3, 1986, Hyderabad",Hyderabad (India),20.00,478,25,0,1,56,0,10,5,0,200,0,41.84,0
1105,Sedezhalie Rupero,http://www.espncricinfo.com/ci/content/player/...,"November 15, 1997, Dimapur, Nagaland",Nagaland,20.42,622,35,4,3,85,0,14,8,0,286,1,45.98,0
1106,Sumit Ruikar,http://www.espncricinfo.com/ci/content/player/...,"June 6, 1990, Nagpur","Vidarbha,",24.61,1754,86,5,6,67*,0,40,27,6,837,3,47.71,0
1107,Ritwik Roy Chowdhury,http://www.espncricinfo.com/ci/content/player/...,"November 20, 1995, Kolkata","Bengal,",18.00,66,10,3,0,19,0,9,10,4,90,2,136.36,0
1108,Rohit Jadhav,http://www.espncricinfo.com/ci/content/player/...,"April 2, 1987, Solapur, Maharashtra",Maharashtra,6.70,212,6,6,0,13*,0,18,13,8,67,0,31.60,0
1109,Kedar Jadhav,http://www.espncricinfo.com/ci/content/player/...,"March 26, 1985, Pune, Maharashtra","India,",43.48,1145,121,26,5,120,2,40,59,13,1174,20,102.53,0
1110,Ashutosh Jadhav,http://www.espncricinfo.com/ci/content/player/...,"January 27, 1987, Gwalior, Madhya Pradesh",Madhya Pradesh,39.20,485,23,3,1,93*,0,8,5,3,196,0,40.41,0
1111,Vishvaraj Jadeja,http://www.espncricinfo.com/ci/content/player/...,"July 19, 1998, Ahmedabad, Gujarat","Saurashtra,",35.63,825,40,7,3,105*,1,12,6,1,392,6,47.51,0
1112,Ravindra Jadeja,http://www.espncricinfo.com/ci/content/player/...,"December 6, 1988, Navagam-Khed, Saurashtra","India,",32.28,2299,149,31,10,100*,1,60,41,14,1485,40,64.59,0
1113,Ajay Jadeja,http://www.espncricinfo.com/ci/content/player/...,"February 1, 1971, Jamnagar, Gujarat","India,",26.18,1463,62,5,4,96,0,24,15,2,576,3,39.37,0
1114,Sheldon Jackson,http://www.espncricinfo.com/ci/content/player/...,"September 27, 1986, Bhavnagar, Saurashtra","Kolkata Knight Riders,",49.23,8004,546,48,24,181*,16,110,66,12,4825,99,60.28,2
1115,Aditya Jain,http://www.espncricinfo.com/ci/content/player/...,"June 11, 1986, Agra, Uttar Pradesh",Delhi Under-16s,28.10,1488,74,11,4,76,0,22,16,2,562,0,37.76,0
1116,Aryan Juyal,http://www.espncricinfo.com/ci/content/player/...,"November 11, 2001, Moradabad, Uttar Pradesh",India Under-19s,32.33,128,8,1,1,69,0,3,3,0,97,0,75.78,1
1117,Jayesh Satish Dongaonkar,http://www.espncricinfo.com/ci/content/player/...,"February 17, 1987, Nagpur",Vidarbha,38.50,264,17,3,0,49,0,5,3,1,154,0,58.33,0
1118,Ravi Jangid,http://www.espncricinfo.com/ci/content/player/...,"June 3, 1987, Rajasthan",Vidarbha,26.25,4380,216,28,8,110,3,69,44,3,1733,7,39.56,0
1119,H Naidu,http://www.espncricinfo.com/ci/content/player/...,date unknown,Services,4.00,58,2,1,0,17,0,7,4,2,20,1,34.48,0
1120,Arzan Nagwaswalla,http://www.espncricinfo.com/ci/content/player/...,"October 17, 1997, Surat, Gujarat","Gujarat,",3.00,64,4,1,0,15,0,8,8,1,21,0,32.81,0
1121,Nagendra Kumar,http://www.espncricinfo.com/ci/content/player/...,"September 15, 1977, Cuddapah, Andhra Pradesh","Andhra,",-,-,-,0,-,-,-,-,1,-,-,-,-,0

In [157]:
data.shape

(1122, 18)

In [158]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1122 entries, 0 to 1121
Data columns (total 18 columns):
name                         1122 non-null object
url                          1122 non-null object
born                         1122 non-null object
teams                        1122 non-null object
first_class.average          1122 non-null object
first_class.balls_faced      1122 non-null object
first_class.boundaries       1122 non-null object
first_class.catches_taken    1122 non-null object
first_class.fifties          1122 non-null object
first_class.highest          1122 non-null object
first_class.hundreds         1122 non-null object
first_class.inns             1122 non-null object
first_class.matches          1122 non-null int64
first_class.not_outs         1122 non-null object
first_class.runs             1122 non-null object
first_class.sixes            1122 non-null object
first_class.strike_rate      1122 non-null object
first_class.stumps           1122 non-null object
dtypes: int64(1), object(17)
memory usage: 157.9+ KB

In [159]:
#1 List of players who played for India
In=data.loc[data['teams']=='India,']
In

,name,url,born,teams,first_class.average,first_class.balls_faced,first_class.boundaries,first_class.catches_taken,first_class.fifties,first_class.highest,first_class.hundreds,first_class.inns,first_class.matches,first_class.not_outs,first_class.runs,first_class.sixes,first_class.strike_rate,first_class.stumps
11,Narain Swamy,http://www.espncricinfo.com/ci/content/player/...,"May 23, 1924, Calicut (now Kozhikhode), Kerala","India,",-,-,-,0,-,-,-,-,1,-,-,-,-,0
47,Sridharan Sriram,http://www.espncricinfo.com/ci/content/player/...,"February 21, 1976, Madras (now Chennai), Tamil...","India,",13.50,135,9,1,1,57,0,7,8,1,81,0,60.00,0
48,Tirumalai Srinivasan,http://www.espncricinfo.com/ci/content/player/...,"October 26, 1950, Madras (now Chennai)","India,",24.00,186,6,0,0,29,0,2,1,0,48,0,25.80,0
51,Javagal Srinath,http://www.espncricinfo.com/ci/content/player/...,"August 31, 1969, Mysore, Karnataka","India,",14.21,2037,110,22,4,76,0,92,67,21,1009,8,49.53,0
54,Sreesanth,http://www.espncricinfo.com/ci/content/player/...,"February 6, 1983, Kothamangalam, Kerala","India,",10.40,539,38,5,0,35,0,40,27,13,281,4,52.13,0
56,Barinder Sran,http://www.espncricinfo.com/ci/content/player/...,"December 10, 1992, Sirsa","India,",-,-,-,1,-,-,-,-,6,-,-,-,-,0
64,Sujith Somasunder,http://www.espncricinfo.com/ci/content/player/...,"December 2, 1972, Bangalore, Karnataka","India,",8.00,63,1,0,0,9,0,2,2,0,16,0,25.39,0
74,Reetinder Sodhi,http://www.espncricinfo.com/ci/content/player/...,"October 18, 1980, Patiala, Punjab","India,",25.45,381,16,9,2,67,0,14,18,3,280,6,73.49,0
91,Vikram Singh,http://www.espncricinfo.com/ci/content/player/...,"September 17, 1984, Chandigarh, Punjab, India","India,",11.75,42,9,1,0,29,0,6,5,2,47,0,111.90,0
101,Robin Singh,http://www.espncricinfo.com/ci/content/player/...,"September 14, 1963, Princes Town, Trinidad","India,",13.50,54,4,5,0,15,0,2,1,0,27,0,50.00,0
104,R.P.Singh,http://www.espncricinfo.com/ci/content/player/...,"January 6, 1965, Lucknow, Uttar Pradesh","India,",-,-,-,0,-,-,-,-,2,-,-,-,-,0
105,RP Singh,http://www.espncricinfo.com/ci/content/player/...,"December 6, 1985, Rae Bareli, Uttar Pradesh","India,",7.25,276,16,6,0,30,0,19,14,3,116,1,42.02,0
107,Robin Singh,http://www.espncricinfo.com/ci/content/player/...,"January 1, 1970, Delhi","India,",0.00,2,0,1,0,0,0,1,1,0,0,0,0.00,0
136,Iqbal Siddiqui,http://www.espncricinfo.com/ci/content/player/...,"December 26, 1974, Aurangabad, Maharashtra","India,",29.00,30,3,1,0,24,0,2,1,1,29,1,96.66,0
140,Rakesh Shukla,http://www.espncricinfo.com/ci/content/player/...,"February 4, 1948, Kanpur, Uttar Pradesh","India,",-,-,-,0,-,-,-,-,1,-,-,-,-,0
142,Laxmi Shukla,http://www.espncricinfo.com/ci/content/player/...,"May 6, 1981, Howrah (now Haora), Bengal","India,",9.00,19,1,1,0,13,0,2,3,0,18,0,94.73,0
143,Shubman Gill,http://www.espncricinfo.com/ci/content/player/...,"September 8, 1999, Fazilka, Punjab","India,",8.00,32,2,0,0,9,0,2,2,0,16,0,50.00,0
177,Abhinav Mukund,http://www.espncricinfo.com/ci/content/player/...,"January 6, 1990, Madras (now Chennai), Tamil N...","India,",22.85,700,32,6,2,81,0,14,7,0,320,1,45.71,0
179,Saradindu Mukherjee,http://www.espncricinfo.com/ci/content/player/...,"October 5, 1964, Calcutta (now Kolkata), Bengal","India,",-,2,0,1,0,2*,0,1,3,1,2,0,100.00,0
205,Cheteshwar Pujara,http://www.espncricinfo.com/ci/content/player/...,"January 25, 1988, Rajkot, Gujarat","India,",51.18,11682,638,45,20,206*,18,114,68,8,5426,11,46.44,0
213,Prithvi Shaw,http://www.espncricinfo.com/ci/content/player/...,"November 9, 1999, Thane, Maharashtra","India,",118.50,252,34,2,1,134,1,3,2,1,237,1,94.04,0
222,Nayan Mongia,http://www.espncricinfo.com/ci/content/player/...,"December 19, 1969, Baroda, Gujarat","India,",24.03,3742,159,99,6,152,1,68,44,8,1442,5,38.53,8
224,Dinesh Mongia,http://www.espncricinfo.com/ci/content/player/...,"April 17, 1977, Chandigarh","India,",27.95,1721,122,21,4,159*,1,51,57,7,1230,8,71.47,0
253,Sanjeev Sharma,http://www.espncricinfo.com/ci/content/player/...,"August 25, 1965, Delhi","India,",28.00,80,9,1,0,38,0,3,2,1,56,0,70.00,0
258,Rohit Sharma,http://www.espncricinfo.com/ci/content/player/...,"April 30, 1987, Bansod, Nagpur, Maharashtra","India,",39.62,2881,151,25,10,177,3,47,27,7,1585,32,55.01,0
266,Debasis Mohanty,http://www.espncricinfo.com/ci/content/player/...,"July 20, 1976, Bhubaneswar, Orissa","India,",-,8,0,0,0,0*,0,1,2,1,0,0,0.00,0
278,Rahul Sharma,http://www.espncricinfo.com/ci/content/player/...,"November 30, 1986, Jalandhar","India,",1.00,2,0,1,0,1,0,1,4,0,1,0,50.00,0
281,Mohit Sharma,http://www.espncricinfo.com/ci/content/player/...,"September 18, 1988, Ballabhgarh, Haryana","India,",7.75,66,5,6,0,11,0,9,26,5,31,0,46.96,0
283,Karn Sharma,http://www.espncricinfo.com/ci/content/player/...,"October 23, 1987, Meerut, Uttar Pradesh","India,",8.00,28,0,0,0,4*,0,2,1,1,8,0,28.57,0
288,Mohammed Shami,http://www.espncricinfo.com/ci/content/player/...,"September 3, 1990, Amroha, Uttar Pradesh","India,",11.10,582,45,9,1,51*,0,56,40,17,433,16,74.39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,Pankaj Singh,http://www.espncricinfo.com/ci/content/player/...,"May 6, 1985, Sultanpur, Uttar Pradesh","India,",3.33,20,2,2,0,9,0,4,2,1,10,0,50.00,0
757,Siddarth Kaul,http://www.espncricinfo.com/ci/content/player/...,"May 19, 1990, Pathankot, Punjab","India,",0.50,3,0,1,0,1,0,2,3,0,1,0,33.33,0
762,Aavishkar Salvi,http://www.espncricinfo.com/ci/content/player/...,"October 20, 1981, Bombay (now Mumbai), Maharas...","India,",2.00,14,0,2,0,4*,0,3,4,1,4,0,28.57,0
777,Hardik Pandya,http://www.espncricinfo.com/ci/content/player/...,"October 11, 1993, Choryasi, Gujarat","India,",31.29,720,68,7,4,108,1,18,11,1,532,12,73.88,0
778,Krunal Pandya,http://www.espncricinfo.com/ci/content/player/...,"March 24, 1991, Ahmedabad, Gujarat","India,",23.33,50,6,4,0,26*,0,5,11,2,70,3,140.00,0
781,Chandrakant Pandit,http://www.espncricinfo.com/ci/content/player/...,"September 30, 1961, Bombay (now Mumbai), Mahar...","India,",24.42,331,18,14,0,39,0,8,5,1,171,0,51.66,2
784,Manish Pandey,http://www.espncricinfo.com/ci/content/player/...,"September 10, 1989, Nainital, Uttaranchal","India,",36.66,479,37,6,2,104*,1,18,23,6,440,4,91.85,0
787,Gyanendra Pandey,http://www.espncricinfo.com/ci/content/player/...,"August 12, 1972, Lucknow, Uttar Pradesh","India,",4.00,11,0,0,0,4*,0,2,2,1,4,0,36.36,0
791,Shreyas Iyer,http://www.espncricinfo.com/ci/content/player/...,"December 6, 1994, Mumbai","India,",42.00,218,22,3,2,88,0,5,6,0,210,3,96.33,0
801,Murali Kartik,http://www.espncricinfo.com/ci/content/player/...,"September 11, 1976, Madras (now Chennai), Tami...","India,",9.77,231,11,2,0,43,0,10,8,1,88,0,38.09,0
805,Dinesh Karthik,http://www.espncricinfo.com/ci/content/player/...,"June 1, 1985, Madras (now Chennai), Tamil Nadu","India,",25.00,2080,134,57,7,129,1,42,26,1,1025,4,49.27,6
811,Sunil Joshi,http://www.espncricinfo.com/ci/content/player/...,"June 6, 1970, Gadag, Karnataka","India,",20.70,834,36,7,1,92,0,19,15,2,352,4,42.20,0
856,Jenni Irani,http://www.espncricinfo.com/ci/content/player/...,"August 18, 1923, Karachi, Sind","India,",3.00,22,0,2,0,2*,0,3,2,2,3,0,13.63,1
863,Saba Karim,http://www.espncricinfo.com/ci/content/player/...,"November 14, 1967, Patna, Bihar","India,",15.00,46,2,1,0,15,0,1,1,0,15,0,32.60,0
878,David Johnson,http://www.espncricinfo.com/ci/content/player/...,"October 16, 1971, Arasikere, Karnataka","India,",4.00,35,1,0,0,5,0,3,2,1,8,0,22.85,0
880,Joginder Sharma,http://www.espncricinfo.com/ci/content/player/...,"October 23, 1983, Rohtak","India,",35.00,30,5,3,0,29*,0,3,4,2,35,0,116.66,0
889,Ashish Nehra,http://www.espncricinfo.com/ci/content/player/...,"April 29, 1979, Delhi","India,",5.50,256,8,5,0,19,0,25,17,11,77,3,30.07,0
906,Wriddhiman Saha,http://www.espncricinfo.com/ci/content/player/...,"October 24, 1984, Shaktigarh","India,",30.63,2610,108,75,5,117,3,46,32,8,1164,12,44.59,10
929,Parvinder Awana,http://www.espncricinfo.com/ci/content/player/...,"July 19, 1986, Delhi, India","India,",-,-,-,0,-,-,-,-,2,-,-,-,-,0
947,Aashish Kapoor,http://www.espncricinfo.com/ci/content/player/...,"March 25, 1971, Madras (now Chennai), Tamil Nadu","India,",19.40,181,8,1,0,42,0,6,4,1,97,2,53.59,0
961,Abhishek Nayar,http://www.espncricinfo.com/ci/content/player/...,"October 8, 1983, Secunderabad, Hyderabad","India,",-,7,0,0,0,0*,0,1,3,1,0,0,0.00,0
962,Suru Nayak,http://www.espncricinfo.com/ci/content/player/...,"October 20, 1954, Bombay (now Mumbai), Maharas...","India,",9.50,49,3,1,0,11,0,3,2,1,19,0,38.77,0
983,Hrishikesh Kanitkar,http://www.espncricinfo.com/ci/content/player/...,"November 14, 1974, Pune, Maharashtra","India,",18.50,185,8,0,0,45,0,4,2,0,74,0,40.00,0
1053,Mohammad Kaif,http://www.espncricinfo.com/ci/content/player/...,"December 1, 1980, Allahabad, Uttar Pradesh","India,",32.84,1548,64,14,3,148*,1,22,13,3,624,2,40.31,0
1065,Chetanya Nanda,http://www.espncricinfo.com/ci/content/player/...,"March 29, 1979, Delhi","India,",15.06,1407,48,11,2,58,0,36,31,7,437,2,31.05,0
1072,Karun Nair,http://www.espncricinfo.com/ci/content/player/...,"December 6, 1991, Jodhpur, Rajasthan","India,",62.33,506,41,6,0,303*,1,7,6,1,374,4,73.91,0
1095,Wasim Jaffer,http://www.espncricinfo.com/ci/content/player/...,"February 16, 1978, Bombay (now Mumbai), Mahara...","India,",34.10,4045,272,27,11,212,5,58,31,1,1944,3,48.05,0
1109,Kedar Jadhav,http://www.espncricinfo.com/ci/content/player/...,"March 26, 1985, Pune, Maharashtra","India,",43.48,1145,121,26,5,120,2,40,59,13,1174,20,102.53,0
1112,Ravindra Jadeja,http://www.espncricinfo.com/ci/content/player/...,"December 6, 1988, Navagam-Khed, Saurashtra","India,",32.28,2299,149,31,10,100*,1,60,41,14,1485,40,64.59,0
1113,Ajay Jadeja,http://www.espncricinfo.com/ci/content/player/...,"February 1, 1971, Jamnagar, Gujarat","India,",26.18,1463,62,5,4,96,0,24,15,2,576,3,39.37,0

In [160]:
In.nunique()

name                         105
url                          106
born                         106
teams                          1
first_class.average           84
first_class.balls_faced       89
first_class.boundaries        50
first_class.catches_taken     30
first_class.fifties           14
first_class.highest           77
first_class.hundreds          10
first_class.inns              42
first_class.matches           41
first_class.not_outs          19
first_class.runs              85
first_class.sixes             22
first_class.strike_rate       90
first_class.stumps             7
dtype: int64

In [161]:
In.shape[0] # Number of players who played for India

106

In [162]:
#2
team_vals = data['teams'].unique().tolist()
team_vals.remove('India,')

In [163]:
data['teams']=data['teams'].replace(to_replace=r'^India,', value='1', regex=True)
data['teams']=data['teams'].replace(team_vals,'0')

In [164]:
data['teams']

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      1
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
1092    0
1093    0
1094    0
1095    1
1096    0
1097    0
1098    0
1099    0
1100    0
1101    0
1102    0
1103    0
1104    0
1105    0
1106    0
1107    0
1108    0
1109    1
1110    0
1111    0
1112    1
1113    1
1114    0
1115    0
1116    0
1117    0
1118    0
1119    0
1120    0
1121    0
Name: teams, Length: 1122, dtype: object

In [165]:
features=data.iloc[:,4:]
features

,first_class.average,first_class.balls_faced,first_class.boundaries,first_class.catches_taken,first_class.fifties,first_class.highest,first_class.hundreds,first_class.inns,first_class.matches,first_class.not_outs,first_class.runs,first_class.sixes,first_class.strike_rate,first_class.stumps
0,50.81,6564,363,64,17,200,9,74,50,9,3303,18,50.31,1
1,18.69,435,25,3,2,54*,0,14,8,1,243,8,55.86,0
2,35.55,7452,387,36,17,150*,6,99,63,10,3164,16,42.45,0
3,16.40,54,7,0,1,74,0,5,5,0,82,5,151.85,0
4,2.00,6,0,0,0,2,0,1,2,0,2,0,33.33,0
5,14.00,145,8,0,0,22,0,3,2,0,42,0,28.96,0
6,27.66,3629,193,30,9,121,2,64,41,7,1577,9,43.45,0
7,18.50,184,8,3,0,30*,0,11,14,3,148,3,80.43,0
8,4.50,90,3,1,0,9,0,4,2,0,18,0,20.00,0
9,27.29,4061,224,36,10,164,2,80,53,9,1938,34,47.72,0
10,7.00,14,0,0,0,7,0,1,1,0,7,0,50.00,0
11,-,-,-,0,-,-,-,-,1,-,-,-,-,0
12,33.63,2764,151,14,8,130,2,40,25,4,1211,2,43.81,0
13,3.84,211,10,6,0,11,0,31,27,12,73,1,34.59,0
14,12.50,34,10,1,0,28,0,4,4,0,50,0,147.05,0
15,23.00,184,26,3,1,74,0,6,3,0,138,0,75.00,0
16,46.00,91,4,0,0,46,0,1,1,0,46,1,50.54,0
17,10.80,130,9,2,0,15,0,5,3,0,54,0,41.53,0
18,29.66,104,7,3,1,58*,0,4,4,1,89,0,85.57,0
19,15.75,172,9,2,0,25,0,8,5,4,63,1,36.62,0
20,9.00,408,14,11,0,32*,0,16,17,5,99,1,24.26,0
21,25.42,1383,100,40,4,123,1,29,19,1,712,7,51.48,5
22,4.00,7,0,0,0,3,0,2,5,1,4,0,57.14,0
23,7.80,84,4,3,0,17*,0,7,9,2,39,2,46.42,0
24,1.50,8,0,1,0,3,0,2,4,0,3,0,37.50,0
25,-,-,-,0,-,-,-,-,2,-,-,-,-,0
26,10.16,378,6,0,0,29,0,6,3,0,61,0,16.13,0
27,13.66,400,26,1,0,35,0,12,7,0,164,0,41.00,0
28,39.62,389,25,2,3,86,0,9,9,1,317,1,81.49,0
29,35.20,122,20,3,1,63,0,6,7,1,176,6,144.26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,42.98,10847,691,63,21,201*,18,139,84,13,5416,38,49.93,0
1093,-,1,0,0,0,1*,0,1,1,1,1,0,100.00,0
1094,41.85,1501,85,45,3,131*,3,24,17,4,837,12,55.76,3
1095,34.10,4045,272,27,11,212,5,58,31,1,1944,3,48.05,0
1096,0.00,2,0,1,0,0,0,2,2,0,0,0,0.00,0
1097,27.57,413,37,0,0,41,0,8,4,1,193,0,46.73,0
1098,20.66,136,8,1,0,25,0,3,2,0,62,0,45.58,2
1099,36.29,1350,69,6,4,118,1,20,14,3,617,11,45.70,0
1100,1.50,23,0,2,0,3,0,2,1,0,3,0,13.04,0
1101,1.16,95,0,1,0,5,0,12,7,6,7,0,7.36,0
1102,9.00,40,1,0,0,9,0,1,1,0,9,0,22.50,0
1103,10.00,413,15,3,1,50,0,17,15,4,130,1,31.47,0
1104,20.00,478,25,0,1,56,0,10,5,0,200,0,41.84,0
1105,20.42,622,35,4,3,85,0,14,8,0,286,1,45.98,0
1106,24.61,1754,86,5,6,67*,0,40,27,6,837,3,47.71,0
1107,18.00,66,10,3,0,19,0,9,10,4,90,2,136.36,0
1108,6.70,212,6,6,0,13*,0,18,13,8,67,0,31.60,0
1109,43.48,1145,121,26,5,120,2,40,59,13,1174,20,102.53,0
1110,39.20,485,23,3,1,93*,0,8,5,3,196,0,40.41,0
1111,35.63,825,40,7,3,105*,1,12,6,1,392,6,47.51,0
1112,32.28,2299,149,31,10,100*,1,60,41,14,1485,40,64.59,0
1113,26.18,1463,62,5,4,96,0,24,15,2,576,3,39.37,0
1114,49.23,8004,546,48,24,181*,16,110,66,12,4825,99,60.28,2
1115,28.10,1488,74,11,4,76,0,22,16,2,562,0,37.76,0
1116,32.33,128,8,1,1,69,0,3,3,0,97,0,75.78,1
1117,38.50,264,17,3,0,49,0,5,3,1,154,0,58.33,0
1118,26.25,4380,216,28,8,110,3,69,44,3,1733,7,39.56,0
1119,4.00,58,2,1,0,17,0,7,4,2,20,1,34.48,0
1120,3.00,64,4,1,0,15,0,8,8,1,21,0,32.81,0
1121,-,-,-,0,-,-,-,-,1,-,-,-,-,0

In [166]:
features = features.astype('str')
features.dtypes

first_class.average          object
first_class.balls_faced      object
first_class.boundaries       object
first_class.catches_taken    object
first_class.fifties          object
first_class.highest          object
first_class.hundreds         object
first_class.inns             object
first_class.matches          object
first_class.not_outs         object
first_class.runs             object
first_class.sixes            object
first_class.strike_rate      object
first_class.stumps           object
dtype: object

In [167]:
for c in features.columns:
    features[c]=features[c].map(lambda x:x.rstrip('*,+,?,!'))
features=features.replace('-','0')

In [168]:
features

,first_class.average,first_class.balls_faced,first_class.boundaries,first_class.catches_taken,first_class.fifties,first_class.highest,first_class.hundreds,first_class.inns,first_class.matches,first_class.not_outs,first_class.runs,first_class.sixes,first_class.strike_rate,first_class.stumps
0,50.81,6564,363,64,17,200,9,74,50,9,3303,18,50.31,1
1,18.69,435,25,3,2,54,0,14,8,1,243,8,55.86,0
2,35.55,7452,387,36,17,150,6,99,63,10,3164,16,42.45,0
3,16.40,54,7,0,1,74,0,5,5,0,82,5,151.85,0
4,2.00,6,0,0,0,2,0,1,2,0,2,0,33.33,0
5,14.00,145,8,0,0,22,0,3,2,0,42,0,28.96,0
6,27.66,3629,193,30,9,121,2,64,41,7,1577,9,43.45,0
7,18.50,184,8,3,0,30,0,11,14,3,148,3,80.43,0
8,4.50,90,3,1,0,9,0,4,2,0,18,0,20.00,0
9,27.29,4061,224,36,10,164,2,80,53,9,1938,34,47.72,0
10,7.00,14,0,0,0,7,0,1,1,0,7,0,50.00,0
11,0,0,0,0,0,0,0,0,1,0,0,0,0,0
12,33.63,2764,151,14,8,130,2,40,25,4,1211,2,43.81,0
13,3.84,211,10,6,0,11,0,31,27,12,73,1,34.59,0
14,12.50,34,10,1,0,28,0,4,4,0,50,0,147.05,0
15,23.00,184,26,3,1,74,0,6,3,0,138,0,75.00,0
16,46.00,91,4,0,0,46,0,1,1,0,46,1,50.54,0
17,10.80,130,9,2,0,15,0,5,3,0,54,0,41.53,0
18,29.66,104,7,3,1,58,0,4,4,1,89,0,85.57,0
19,15.75,172,9,2,0,25,0,8,5,4,63,1,36.62,0
20,9.00,408,14,11,0,32,0,16,17,5,99,1,24.26,0
21,25.42,1383,100,40,4,123,1,29,19,1,712,7,51.48,5
22,4.00,7,0,0,0,3,0,2,5,1,4,0,57.14,0
23,7.80,84,4,3,0,17,0,7,9,2,39,2,46.42,0
24,1.50,8,0,1,0,3,0,2,4,0,3,0,37.50,0
25,0,0,0,0,0,0,0,0,2,0,0,0,0,0
26,10.16,378,6,0,0,29,0,6,3,0,61,0,16.13,0
27,13.66,400,26,1,0,35,0,12,7,0,164,0,41.00,0
28,39.62,389,25,2,3,86,0,9,9,1,317,1,81.49,0
29,35.20,122,20,3,1,63,0,6,7,1,176,6,144.26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,42.98,10847,691,63,21,201,18,139,84,13,5416,38,49.93,0
1093,0,1,0,0,0,1,0,1,1,1,1,0,100.00,0
1094,41.85,1501,85,45,3,131,3,24,17,4,837,12,55.76,3
1095,34.10,4045,272,27,11,212,5,58,31,1,1944,3,48.05,0
1096,0.00,2,0,1,0,0,0,2,2,0,0,0,0.00,0
1097,27.57,413,37,0,0,41,0,8,4,1,193,0,46.73,0
1098,20.66,136,8,1,0,25,0,3,2,0,62,0,45.58,2
1099,36.29,1350,69,6,4,118,1,20,14,3,617,11,45.70,0
1100,1.50,23,0,2,0,3,0,2,1,0,3,0,13.04,0
1101,1.16,95,0,1,0,5,0,12,7,6,7,0,7.36,0
1102,9.00,40,1,0,0,9,0,1,1,0,9,0,22.50,0
1103,10.00,413,15,3,1,50,0,17,15,4,130,1,31.47,0
1104,20.00,478,25,0,1,56,0,10,5,0,200,0,41.84,0
1105,20.42,622,35,4,3,85,0,14,8,0,286,1,45.98,0
1106,24.61,1754,86,5,6,67,0,40,27,6,837,3,47.71,0
1107,18.00,66,10,3,0,19,0,9,10,4,90,2,136.36,0
1108,6.70,212,6,6,0,13,0,18,13,8,67,0,31.60,0
1109,43.48,1145,121,26,5,120,2,40,59,13,1174,20,102.53,0
1110,39.20,485,23,3,1,93,0,8,5,3,196,0,40.41,0
1111,35.63,825,40,7,3,105,1,12,6,1,392,6,47.51,0
1112,32.28,2299,149,31,10,100,1,60,41,14,1485,40,64.59,0
1113,26.18,1463,62,5,4,96,0,24,15,2,576,3,39.37,0
1114,49.23,8004,546,48,24,181,16,110,66,12,4825,99,60.28,2
1115,28.10,1488,74,11,4,76,0,22,16,2,562,0,37.76,0
1116,32.33,128,8,1,1,69,0,3,3,0,97,0,75.78,1
1117,38.50,264,17,3,0,49,0,5,3,1,154,0,58.33,0
1118,26.25,4380,216,28,8,110,3,69,44,3,1733,7,39.56,0
1119,4.00,58,2,1,0,17,0,7,4,2,20,1,34.48,0
1120,3.00,64,4,1,0,15,0,8,8,1,21,0,32.81,0
1121,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [169]:
cols = features.columns
cols

Index(['first_class.average', 'first_class.balls_faced',
       'first_class.boundaries', 'first_class.catches_taken',
       'first_class.fifties', 'first_class.highest', 'first_class.hundreds',
       'first_class.inns', 'first_class.matches', 'first_class.not_outs',
       'first_class.runs', 'first_class.sixes', 'first_class.strike_rate',
       'first_class.stumps'],
      dtype='object')

In [170]:
features[cols] = features[cols].apply(pd.to_numeric, errors='coerce')
features.dtypes

first_class.average          float64
first_class.balls_faced        int64
first_class.boundaries         int64
first_class.catches_taken      int64
first_class.fifties            int64
first_class.highest            int64
first_class.hundreds           int64
first_class.inns               int64
first_class.matches            int64
first_class.not_outs           int64
first_class.runs               int64
first_class.sixes              int64
first_class.strike_rate      float64
first_class.stumps             int64
dtype: object

In [171]:
features.fillna(np.nan)

,first_class.average,first_class.balls_faced,first_class.boundaries,first_class.catches_taken,first_class.fifties,first_class.highest,first_class.hundreds,first_class.inns,first_class.matches,first_class.not_outs,first_class.runs,first_class.sixes,first_class.strike_rate,first_class.stumps
0,50.81,6564,363,64,17,200,9,74,50,9,3303,18,50.31,1
1,18.69,435,25,3,2,54,0,14,8,1,243,8,55.86,0
2,35.55,7452,387,36,17,150,6,99,63,10,3164,16,42.45,0
3,16.40,54,7,0,1,74,0,5,5,0,82,5,151.85,0
4,2.00,6,0,0,0,2,0,1,2,0,2,0,33.33,0
5,14.00,145,8,0,0,22,0,3,2,0,42,0,28.96,0
6,27.66,3629,193,30,9,121,2,64,41,7,1577,9,43.45,0
7,18.50,184,8,3,0,30,0,11,14,3,148,3,80.43,0
8,4.50,90,3,1,0,9,0,4,2,0,18,0,20.00,0
9,27.29,4061,224,36,10,164,2,80,53,9,1938,34,47.72,0
10,7.00,14,0,0,0,7,0,1,1,0,7,0,50.00,0
11,0.00,0,0,0,0,0,0,0,1,0,0,0,0.00,0
12,33.63,2764,151,14,8,130,2,40,25,4,1211,2,43.81,0
13,3.84,211,10,6,0,11,0,31,27,12,73,1,34.59,0
14,12.50,34,10,1,0,28,0,4,4,0,50,0,147.05,0
15,23.00,184,26,3,1,74,0,6,3,0,138,0,75.00,0
16,46.00,91,4,0,0,46,0,1,1,0,46,1,50.54,0
17,10.80,130,9,2,0,15,0,5,3,0,54,0,41.53,0
18,29.66,104,7,3,1,58,0,4,4,1,89,0,85.57,0
19,15.75,172,9,2,0,25,0,8,5,4,63,1,36.62,0
20,9.00,408,14,11,0,32,0,16,17,5,99,1,24.26,0
21,25.42,1383,100,40,4,123,1,29,19,1,712,7,51.48,5
22,4.00,7,0,0,0,3,0,2,5,1,4,0,57.14,0
23,7.80,84,4,3,0,17,0,7,9,2,39,2,46.42,0
24,1.50,8,0,1,0,3,0,2,4,0,3,0,37.50,0
25,0.00,0,0,0,0,0,0,0,2,0,0,0,0.00,0
26,10.16,378,6,0,0,29,0,6,3,0,61,0,16.13,0
27,13.66,400,26,1,0,35,0,12,7,0,164,0,41.00,0
28,39.62,389,25,2,3,86,0,9,9,1,317,1,81.49,0
29,35.20,122,20,3,1,63,0,6,7,1,176,6,144.26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,42.98,10847,691,63,21,201,18,139,84,13,5416,38,49.93,0
1093,0.00,1,0,0,0,1,0,1,1,1,1,0,100.00,0
1094,41.85,1501,85,45,3,131,3,24,17,4,837,12,55.76,3
1095,34.10,4045,272,27,11,212,5,58,31,1,1944,3,48.05,0
1096,0.00,2,0,1,0,0,0,2,2,0,0,0,0.00,0
1097,27.57,413,37,0,0,41,0,8,4,1,193,0,46.73,0
1098,20.66,136,8,1,0,25,0,3,2,0,62,0,45.58,2
1099,36.29,1350,69,6,4,118,1,20,14,3,617,11,45.70,0
1100,1.50,23,0,2,0,3,0,2,1,0,3,0,13.04,0
1101,1.16,95,0,1,0,5,0,12,7,6,7,0,7.36,0
1102,9.00,40,1,0,0,9,0,1,1,0,9,0,22.50,0
1103,10.00,413,15,3,1,50,0,17,15,4,130,1,31.47,0
1104,20.00,478,25,0,1,56,0,10,5,0,200,0,41.84,0
1105,20.42,622,35,4,3,85,0,14,8,0,286,1,45.98,0
1106,24.61,1754,86,5,6,67,0,40,27,6,837,3,47.71,0
1107,18.00,66,10,3,0,19,0,9,10,4,90,2,136.36,0
1108,6.70,212,6,6,0,13,0,18,13,8,67,0,31.60,0
1109,43.48,1145,121,26,5,120,2,40,59,13,1174,20,102.53,0
1110,39.20,485,23,3,1,93,0,8,5,3,196,0,40.41,0
1111,35.63,825,40,7,3,105,1,12,6,1,392,6,47.51,0
1112,32.28,2299,149,31,10,100,1,60,41,14,1485,40,64.59,0
1113,26.18,1463,62,5,4,96,0,24,15,2,576,3,39.37,0
1114,49.23,8004,546,48,24,181,16,110,66,12,4825,99,60.28,2
1115,28.10,1488,74,11,4,76,0,22,16,2,562,0,37.76,0
1116,32.33,128,8,1,1,69,0,3,3,0,97,0,75.78,1
1117,38.50,264,17,3,0,49,0,5,3,1,154,0,58.33,0
1118,26.25,4380,216,28,8,110,3,69,44,3,1733,7,39.56,0
1119,4.00,58,2,1,0,17,0,7,4,2,20,1,34.48,0
1120,3.00,64,4,1,0,15,0,8,8,1,21,0,32.81,0
1121,0.00,0,0,0,0,0,0,0,1,0,0,0,0.00,0

In [172]:
X=np.array(features)
X

array([[5.081e+01, 6.564e+03, 3.630e+02, ..., 1.800e+01, 5.031e+01,
        1.000e+00],
       [1.869e+01, 4.350e+02, 2.500e+01, ..., 8.000e+00, 5.586e+01,
        0.000e+00],
       [3.555e+01, 7.452e+03, 3.870e+02, ..., 1.600e+01, 4.245e+01,
        0.000e+00],
       ...,
       [4.000e+00, 5.800e+01, 2.000e+00, ..., 1.000e+00, 3.448e+01,
        0.000e+00],
       [3.000e+00, 6.400e+01, 4.000e+00, ..., 0.000e+00, 3.281e+01,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00]])

In [173]:
Y=np.array(data['teams']).T
Y

array(['0', '0', '0', ..., '0', '0', '0'], dtype=object)

In [176]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(X, Y)

C:\Users\Srihari\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [177]:
importance_scores = rfc.feature_importances_
importance_scores

array([0.10236394, 0.13550473, 0.0895331 , 0.0655011 , 0.01485278,
       0.11167018, 0.01278042, 0.06797463, 0.09368973, 0.05155686,
       0.07682481, 0.03366328, 0.1296106 , 0.01447385])

In [178]:
feature_importances = [(feature, score) for feature, score in zip(features.columns, importance_scores)]
feature_importances

[('first_class.average', 0.10236394348272063),
 ('first_class.balls_faced', 0.1355047277356761),
 ('first_class.boundaries', 0.08953309895095983),
 ('first_class.catches_taken', 0.0655010952620047),
 ('first_class.fifties', 0.014852778450679113),
 ('first_class.highest', 0.11167018148405201),
 ('first_class.hundreds', 0.012780421952670342),
 ('first_class.inns', 0.06797463391316165),
 ('first_class.matches', 0.09368972858911548),
 ('first_class.not_outs', 0.051556859541593704),
 ('first_class.runs', 0.07682480750181615),
 ('first_class.sixes', 0.03366327741019543),
 ('first_class.strike_rate', 0.1296105980081359),
 ('first_class.stumps', 0.01447384771721889)]

In [202]:
feature_importances_sorted=sorted(feature_importances, key=lambda x: -x[1])[:3]
feature_importances_sorted ##dominant features or features responsible for selection

[('first_class.balls_faced', 0.1355047277356761),
 ('first_class.strike_rate', 0.1296105980081359),
 ('first_class.highest', 0.11167018148405201)]

In [205]:
result1=pd.DataFrame(feature_importances_sorted,columns = ['features_not_imputed', 'score_not_imputed'])

In [204]:
result1

      features_not_imputed  score_not_imputed
0  first_class.balls_faced           0.135505
1  first_class.strike_rate           0.129611
2      first_class.highest           0.111670

In [182]:
#3 Using KNNImputer
data=pd.read_csv(r"C:\Users\Srihari\Desktop\AI ML\Assignments\Data Preparation and Visualisation\scrapped_data_large.csv")

In [183]:
team_vals = data['teams'].unique().tolist()
team_vals.remove('India,')

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      1
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
1092    0
1093    0
1094    0
1095    1
1096    0
1097    0
1098    0
1099    0
1100    0
1101    0
1102    0
1103    0
1104    0
1105    0
1106    0
1107    0
1108    0
1109    1
1110    0
1111    0
1112    1
1113    1
1114    0
1115    0
1116    0
1117    0
1118    0
1119    0
1120    0
1121    0
Name: teams, Length: 1122, dtype: object

In [184]:
data['teams']=data['teams'].replace(to_replace=r'^India,', value='1', regex=True)
data['teams']=data['teams'].replace(team_vals,'0')
data['teams']

,first_class.average,first_class.balls_faced,first_class.boundaries,first_class.catches_taken,first_class.fifties,first_class.highest,first_class.hundreds,first_class.inns,first_class.matches,first_class.not_outs,first_class.runs,first_class.sixes,first_class.strike_rate,first_class.stumps
0,50.81,6564,363,64,17,200,9,74,50,9,3303,18,50.31,1
1,18.69,435,25,3,2,54*,0,14,8,1,243,8,55.86,0
2,35.55,7452,387,36,17,150*,6,99,63,10,3164,16,42.45,0
3,16.40,54,7,0,1,74,0,5,5,0,82,5,151.85,0
4,2.00,6,0,0,0,2,0,1,2,0,2,0,33.33,0
5,14.00,145,8,0,0,22,0,3,2,0,42,0,28.96,0
6,27.66,3629,193,30,9,121,2,64,41,7,1577,9,43.45,0
7,18.50,184,8,3,0,30*,0,11,14,3,148,3,80.43,0
8,4.50,90,3,1,0,9,0,4,2,0,18,0,20.00,0
9,27.29,4061,224,36,10,164,2,80,53,9,1938,34,47.72,0
10,7.00,14,0,0,0,7,0,1,1,0,7,0,50.00,0
11,-,-,-,0,-,-,-,-,1,-,-,-,-,0
12,33.63,2764,151,14,8,130,2,40,25,4,1211,2,43.81,0
13,3.84,211,10,6,0,11,0,31,27,12,73,1,34.59,0
14,12.50,34,10,1,0,28,0,4,4,0,50,0,147.05,0
15,23.00,184,26,3,1,74,0,6,3,0,138,0,75.00,0
16,46.00,91,4,0,0,46,0,1,1,0,46,1,50.54,0
17,10.80,130,9,2,0,15,0,5,3,0,54,0,41.53,0
18,29.66,104,7,3,1,58*,0,4,4,1,89,0,85.57,0
19,15.75,172,9,2,0,25,0,8,5,4,63,1,36.62,0
20,9.00,408,14,11,0,32*,0,16,17,5,99,1,24.26,0
21,25.42,1383,100,40,4,123,1,29,19,1,712,7,51.48,5
22,4.00,7,0,0,0,3,0,2,5,1,4,0,57.14,0
23,7.80,84,4,3,0,17*,0,7,9,2,39,2,46.42,0
24,1.50,8,0,1,0,3,0,2,4,0,3,0,37.50,0
25,-,-,-,0,-,-,-,-,2,-,-,-,-,0
26,10.16,378,6,0,0,29,0,6,3,0,61,0,16.13,0
27,13.66,400,26,1,0,35,0,12,7,0,164,0,41.00,0
28,39.62,389,25,2,3,86,0,9,9,1,317,1,81.49,0
29,35.20,122,20,3,1,63,0,6,7,1,176,6,144.26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,42.98,10847,691,63,21,201*,18,139,84,13,5416,38,49.93,0
1093,-,1,0,0,0,1*,0,1,1,1,1,0,100.00,0
1094,41.85,1501,85,45,3,131*,3,24,17,4,837,12,55.76,3
1095,34.10,4045,272,27,11,212,5,58,31,1,1944,3,48.05,0
1096,0.00,2,0,1,0,0,0,2,2,0,0,0,0.00,0
1097,27.57,413,37,0,0,41,0,8,4,1,193,0,46.73,0
1098,20.66,136,8,1,0,25,0,3,2,0,62,0,45.58,2
1099,36.29,1350,69,6,4,118,1,20,14,3,617,11,45.70,0
1100,1.50,23,0,2,0,3,0,2,1,0,3,0,13.04,0
1101,1.16,95,0,1,0,5,0,12,7,6,7,0,7.36,0
1102,9.00,40,1,0,0,9,0,1,1,0,9,0,22.50,0
1103,10.00,413,15,3,1,50,0,17,15,4,130,1,31.47,0
1104,20.00,478,25,0,1,56,0,10,5,0,200,0,41.84,0
1105,20.42,622,35,4,3,85,0,14,8,0,286,1,45.98,0
1106,24.61,1754,86,5,6,67*,0,40,27,6,837,3,47.71,0
1107,18.00,66,10,3,0,19,0,9,10,4,90,2,136.36,0
1108,6.70,212,6,6,0,13*,0,18,13,8,67,0,31.60,0
1109,43.48,1145,121,26,5,120,2,40,59,13,1174,20,102.53,0
1110,39.20,485,23,3,1,93*,0,8,5,3,196,0,40.41,0
1111,35.63,825,40,7,3,105*,1,12,6,1,392,6,47.51,0
1112,32.28,2299,149,31,10,100*,1,60,41,14,1485,40,64.59,0
1113,26.18,1463,62,5,4,96,0,24,15,2,576,3,39.37,0
1114,49.23,8004,546,48,24,181*,16,110,66,12,4825,99,60.28,2
1115,28.10,1488,74,11,4,76,0,22,16,2,562,0,37.76,0
1116,32.33,128,8,1,1,69,0,3,3,0,97,0,75.78,1
1117,38.50,264,17,3,0,49,0,5,3,1,154,0,58.33,0
1118,26.25,4380,216,28,8,110,3,69,44,3,1733,7,39.56,0
1119,4.00,58,2,1,0,17,0,7,4,2,20,1,34.48,0
1120,3.00,64,4,1,0,15,0,8,8,1,21,0,32.81,0
1121,-,-,-,0,-,-,-,-,1,-,-,-,-,0

In [186]:
features=data.iloc[:,4:]
features

first_class.average          object
first_class.balls_faced      object
first_class.boundaries       object
first_class.catches_taken    object
first_class.fifties          object
first_class.highest          object
first_class.hundreds         object
first_class.inns             object
first_class.matches          object
first_class.not_outs         object
first_class.runs             object
first_class.sixes            object
first_class.strike_rate      object
first_class.stumps           object
dtype: object

In [187]:
features = features.astype('str')
features.dtypes

In [189]:
for c in features.columns:
    features[c]=features[c].map(lambda x:x.rstrip('*,+,?,!'))

Index(['first_class.average', 'first_class.balls_faced',
       'first_class.boundaries', 'first_class.catches_taken',
       'first_class.fifties', 'first_class.highest', 'first_class.hundreds',
       'first_class.inns', 'first_class.matches', 'first_class.not_outs',
       'first_class.runs', 'first_class.sixes', 'first_class.strike_rate',
       'first_class.stumps'],
      dtype='object')

In [190]:
cols = features.columns
cols

first_class.average          float64
first_class.balls_faced      float64
first_class.boundaries       float64
first_class.catches_taken    float64
first_class.fifties          float64
first_class.highest          float64
first_class.hundreds         float64
first_class.inns             float64
first_class.matches            int64
first_class.not_outs         float64
first_class.runs             float64
first_class.sixes            float64
first_class.strike_rate      float64
first_class.stumps           float64
dtype: object

In [192]:
features[cols] = features[cols].apply(pd.to_numeric, errors='coerce')
features.dtypes

C:\Users\Srihari\Anaconda3\lib\site-packages\missingpy\knnimpute.py:224: UserWarning: There are rows with more than 50.0% missing values. These rows are not included as donor neighbors.
  .format(self.row_max_missing * 100))
C:\Users\Srihari\Anaconda3\lib\site-packages\missingpy\knnimpute.py:282: UserWarning: There are rows with more than 50.0% missing values. The missing features in these rows are imputed with column means.
  .format(self.row_max_missing * 100))

array([[5.08100000e+01, 6.56400000e+03, 3.63000000e+02, ...,
        1.80000000e+01, 5.03100000e+01, 1.00000000e+00],
       [1.86900000e+01, 4.35000000e+02, 2.50000000e+01, ...,
        8.00000000e+00, 5.58600000e+01, 0.00000000e+00],
       [3.55500000e+01, 7.45200000e+03, 3.87000000e+02, ...,
        1.60000000e+01, 4.24500000e+01, 0.00000000e+00],
       ...,
       [4.00000000e+00, 5.80000000e+01, 2.00000000e+00, ...,
        1.00000000e+00, 3.44800000e+01, 0.00000000e+00],
       [3.00000000e+00, 6.40000000e+01, 4.00000000e+00, ...,
        0.00000000e+00, 3.28100000e+01, 0.00000000e+00],
       [1.79793680e+01, 7.56993191e+02, 4.50155642e+01, ...,
        3.11575875e+00, 4.90175707e+01, 0.00000000e+00]])

In [193]:
from missingpy import KNNImputer

imputer = KNNImputer()
X_imputed = imputer.fit_transform(features)
X_imputed

array(['0', '0', '0', ..., '0', '0', '0'], dtype=object)

In [194]:
Y=np.array(data['teams']).T
Y

C:\Users\Srihari\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [195]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(X_imputed, Y)

array([0.09790855, 0.14070043, 0.07233976, 0.07307043, 0.02402089,
       0.09226469, 0.01132066, 0.07259398, 0.08992445, 0.06415486,
       0.06660667, 0.04161158, 0.14304864, 0.01043441])

In [196]:
importance_scores_imputed = rfc.feature_importances_
importance_scores_imputed

[('first_class.average', 0.10236394348272063),
 ('first_class.balls_faced', 0.1355047277356761),
 ('first_class.boundaries', 0.08953309895095983),
 ('first_class.catches_taken', 0.0655010952620047),
 ('first_class.fifties', 0.014852778450679113),
 ('first_class.highest', 0.11167018148405201),
 ('first_class.hundreds', 0.012780421952670342),
 ('first_class.inns', 0.06797463391316165),
 ('first_class.matches', 0.09368972858911548),
 ('first_class.not_outs', 0.051556859541593704),
 ('first_class.runs', 0.07682480750181615),
 ('first_class.sixes', 0.03366327741019543),
 ('first_class.strike_rate', 0.1296105980081359),
 ('first_class.stumps', 0.01447384771721889)]

In [209]:
feature_importances_imputed = [(feature, score) for feature, score in zip(features.columns, importance_scores_imputed)]
feature_importances_imputed

[('first_class.average', 0.09790855006699159),
 ('first_class.balls_faced', 0.14070042851622988),
 ('first_class.boundaries', 0.07233976300486337),
 ('first_class.catches_taken', 0.07307043430687589),
 ('first_class.fifties', 0.024020888060803096),
 ('first_class.highest', 0.0922646891377174),
 ('first_class.hundreds', 0.011320660360879748),
 ('first_class.inns', 0.07259397513336933),
 ('first_class.matches', 0.08992445272169736),
 ('first_class.not_outs', 0.06415486162700353),
 ('first_class.runs', 0.0666066677024407),
 ('first_class.sixes', 0.041611579374021275),
 ('first_class.strike_rate', 0.14304864112495186),
 ('first_class.stumps', 0.010434408862155107)]

In [211]:
feature_importances_sorted_imputed=sorted(feature_importances_imputed, key=lambda x: -x[1])[:3]
feature_importances_sorted_imputed

[('first_class.strike_rate', 0.14304864112495186),
 ('first_class.balls_faced', 0.14070042851622988),
 ('first_class.average', 0.09790855006699159)]

In [212]:
result2=pd.DataFrame(feature_importances_sorted_imputed,columns = ['features_imputed', 'score_imputed'])
result2

          features_imputed  score_imputed
0  first_class.strike_rate       0.143049
1  first_class.balls_faced       0.140700
2      first_class.average       0.097909

In [213]:
#comparing the values when imputed and not imputed.
result=result1.join(result2)
result 
#yes the result changes when KNNImputer is used

,features_not_imputed,score_not_imputed,features_imputed,score_imputed
0,first_class.balls_faced,0.135505,first_class.strike_rate,0.143049
1,first_class.strike_rate,0.129611,first_class.balls_faced,0.140700
2,first_class.highest,0.111670,first_class.average,0.097909